<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Symfony!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>
    {% include 'AppBundle:Layout:_navigation.html.twig' %}
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</body>
</html>