<!DOCTYPE html>
<html>
<head>
  <title>{{ page_title is defined ? page_title : 'Purl - Your very own URL shortener!' }}</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
  {% include 'AppBundle:Layout:_navigation.html.twig' %}
  <div class="container">
    {% block body %}{% endblock %}
  </div>
  {% block javascripts %}
    <script src="{{ asset('js/scripts.js') }}"></script>
  {% endblock %}
</body>
</html>
