imports:
    - { resource: config_dev.yml }

framework:
    test: ~
    session:
        storage_id: session.storage.mock_file
    profiler:
        collect: false

web_profiler:
    toolbar: false
    intercept_redirects: false

swiftmailer:
    disable_delivery: true

doctrine:
    dbal:
        driver:   pdo_mysql
        host:     mysql
        port:     null
        dbname:   test
        user:     dev
        password: dev
        charset:  UTF8

liip_functional_test: ~